#menubar
{
    user-select: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
#menubar>li
{
    display: block;
    float: left;
    position: relative;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
}

#menubar>li:hover
{
    background-color: lightblue;
}

#menubar>li.selected
{
    background-color: blue;
    color: white;
}

#menubar>li>ul
{
    background: yellow;
    position: absolute;
    z-index: 2000;
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: 0;
}

header > ul > li:hover ul
{
    opacity: 0;
}