#menubar
{
    user-select: none;
    cursor:default;
    list-style: none;
    padding: 0;
    margin: 0;
}
#menubar>li
{
    cursor: default;
    display: block;
    float: left;
    position: relative;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
}

#menubar>li:focus
{
    outline: none;
}

#menubar>li:hover
{
    background-color: rgb(235,235,255);
}

#menubar>li.selected
{
    background-color: blue;
    color: white;
}

#menubar.subMenuOpened > li.selected
{
    background-color: rgb(235,235,255);
    color: black;
}

.submenu
{
    position: absolute;
    z-index: 3000;
    top: 20px;
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
}

.submenu tr
{
    cursor: default;
    margin: 5px;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.21);
}

.submenu tr:hover
{
    background-color: rgb(235,235,255);
}

.submenu tr.separator:hover
{
    background-color: white
}

.separator>td>div
{
    border-color: lightgray;
    border-top-width: 1px;
    border-top-style: solid;
}

.submenu tr td
{
    padding: 5px;
}

.submenu tr.selected
{
    background-color: blue;
    color: white;
}

.submenu tr td:first-child
{
    padding-left: 30px;
    padding-right: 20px;
}

.submenu tr td:last-child
{
    padding-right: 20px;
    text-align: right
}

.submenu.hidden
{
    display: none;
}

.checker
{
    position: absolute;
    left: 10px;
}

.checker.hidden
{
    display: none;
}
    
header > ul > li:hover ul
{
    opacity: 0;
}

.keyboardActivated .accelerator
{
    text-decoration: underline;
}