#menubar
{
    user-select: none;
    cursor:default;
    list-style: none;
    padding: 0;
    margin: 0;
}
#menubar>li
{
    cursor: default;
    display: block;
    float: left;
    position: relative;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    transition: background-color ease-out 0.3s, color ease-out 0.1s;
}

#menubar>li:hover
{
    background-color: rgb(235,235,255);
}

#menubar>li.selected
{
    background-color: blue;
    color: white;
}

.submenu
{
    position: absolute;
    z-index: 3000;
    top: 20px;
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
}

.submenu tr
{
    margin: 5px;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.21);
}

.submenu tr td
{
    padding: 5px;
}

.submenu.hidden
{
    display: none;
}

header > ul > li:hover ul
{
    opacity: 0;
}

.keyboardActivated .accelerator
{
    text-decoration: underline;
}